<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="org.caleydo.core.views"
            class="org.caleydo.view.domino.internal.DominoViewPart"
            icon="resources/icons/icon.png"
            id="org.caleydo.view.domino"
            name="Domino">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.caleydo.menu.view.visualization">
         <command
               commandId="org.caleydo.view.domino.command.open"
               icon="resources/icons/icon.png"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.caleydo.view.domino.internal.OpenViewHandler"
            id="org.caleydo.view.domino.command.open"
            name="Domino">
      </command>
   </extension>
   <extension
         point="org.caleydo.core.data.datadomain.ViewDataDomainAssociation">
      <association
            view="org.caleydo.view.domino">
         <dataDomain
               type="org.caleydo.datadomain.genetic">
         </dataDomain>
         <dataDomain
               type="org.caleydo.datadomain.generic">
         </dataDomain>
      </association>
   </extension>
   <extension
         point="org.caleydo.view.tourguide.adapter">
      <adapter
            class="org.caleydo.view.domino.internal.tourguide.DataTourGuideAdapter$Factory">
      </adapter>
      <adapter
            class="org.caleydo.view.domino.internal.tourguide.StratifiationTourGuideAdapter$Factory">
      </adapter>
   </extension>
   <extension
         point="org.caleydo.core.view.dnd.TransferSerializer">
      <serializer
            class="org.caleydo.view.domino.internal.dnd.TablePerspectiveDragInfo$Serializer">
      </serializer>
      <serializer
            class="org.caleydo.view.domino.internal.dnd.PerspectiveDragInfo$Serializer">
      </serializer>
   </extension>
   <extension
         point="org.caleydo.ui.GLElementFactory">
      <factory
            factory="org.caleydo.view.domino.internal.ui.LabelElementFactory"
            icon="resources/icons/icon.png"
            name="Labels"
            scaleType="dataDependent">
      </factory>
      <factory
            factory="org.caleydo.view.domino.internal.ui.AxisElementFactory"
            icon="resources/icons/icon.png"
            name="Axis"
            scaleType="fix">
      </factory>
   </extension>
</plugin>
